<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <div class="col-md-10 no-padding">
                    <%- cabecalho %>
                </div>
                <div class="col-md-2 no-padding-left">
                    <div class="btn-group" style="width: 100%;">
                        <button type="button" class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown" style="height: 148px;">
                            <i class="fa fa-5x fa-bars"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-md-2 no-padding-right">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <%- insumo %>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4 no-padding-right">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <%- producao %>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 no-padding-right">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <%- perda %>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="box box-primary">
        <div class="box-body">
            <div class="row">
                <%- parada %>
            </div>
        </div>
    </div>
</div>